// body {background-color: black;}

#HUD_main {
    .right_up {
        position: absolute;
        right: 30px;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .vignette {
            position: absolute;
            right: -150px;
            top: -150px;
            width: 262px;
            height: 193px;
            border-radius: 262px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.90) 100%);
            filter: blur(50px);
            z-index: -1;
        }


        .logo { 
            display: flex;
            align-items: center;

            .servername {
                margin-right: 10px;
            }

            .servername p.name {
                font-family: Gilroy, sans-serif;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: #FFF;
                text-align: right;
            }

            .servername p.subname {
                color: #FFF;
                text-align: center;
                font-family: Gilroy;
                font-size: 0.875rem; 
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .info {
            display: flex;
            gap: 10px;
            margin-top: 11px;
            height: 21px;
            border-radius: 12.5px;
            background: rgba(0, 0, 0, 0.35);
            padding: 0px 05px;
            padding-right: 10px;
            flex-wrap: wrap;
            align-items: center;
            align-content: flex-end;
            justify-content: space-between;

            .online {
                display: flex;
                align-items: center;
                font-family: Gilroy;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #FFF;
            }

            .id {
                font-family: Gilroy;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #FFF;
            }
        }

        .bonus {
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 250px;
            height: 44px;
            background: url('../img/bonus_bg.svg');
            // background: linear-gradient(270deg, rgba(228, 30, 107, 0.50) 0%, rgba(228, 30, 107, 0.00) 100%);
            position: relative;
            right: -30px;

            p {
                color: #DFDFDF;
                text-align: right;
                font-family: Gilroy;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .time {
                color: #fff;
            }
        }
    }

    .hints {
        position: absolute;
        right: 30px;
        top: auto;

        .hints-list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }

        .hint-item { 
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;

            p {
                color: #FFF;
                text-align: right;
                font-family: Gilroy;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            span {
                margin-left: 10px;
                display: flex;
                padding: 5px;
                justify-content: center;
                align-items: center;
                min-width: 25px;
                min-height: 25px;
                color: #FFF;
                text-align: center;
                font-family: Gilroy;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border-radius: 5px;
                border: 1.5px solid #E41E6B;
                background: rgba(0, 0, 0, 0.50);
            }
        }
    }

    .speedometer {
        position: absolute;
        bottom: 30px;
        right: 30px;

        .fuel {
            display: flex;
            justify-content: space-between;

            .speedmask {
                color: rgba(255, 255, 255, 0.50);
                text-align: center;
                font-family: Gilroy;
                font-size: 1rem;
                font-style: italic;
                font-weight: 600;
                line-height: normal;
            }

            span { 
                color: #FFF;
                color: #FFF;
                text-align: center;
                font-family: Gilroy;
                font-size: 1rem;
                font-style: italic;
                font-weight: 600;
                line-height: normal;
                margin-right: 5px;
            }
        }
    }

    .speedgear {
        display: flex;
        align-items: center;
    }

    .elements {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-bottom: 5px;
    
        .car-lock.active {
            fill: #E41E6B;
            opacity: 1;
        }
        
        .seat-belt.active {
            fill: #E41E6B;
            opacity: 1;
        }

        .engine.active {
            fill: #E41E6B;
            opacity: 1;
        }
    }

    .speed {
        color: #E41E6B;
        font-family: Gilroy;
        font-size: 4rem;
        font-style: italic;
        font-weight: 700;
        line-height: 3.5rem;
        height: auto;
    }

    .gearbox {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #FFF;
        color: #000;
        text-align: center;
        font-family: Gilroy;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
}

.location {
    position: absolute;

    .money_wrapper {
        display: flex;
        flex-direction: column;
        //gap: 0.92vh;
        margin-top: 10px;
    }

    .money-bank {
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
            color: #FFF;
            font-family: Gilroy;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    .location_wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .location_text_wrapper h1{
            color: #FFF;
            font-family: Gilroy;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .location_text_wrapper p {
            color: #DCDCDC;
            font-family: Gilroy;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    .time_wrapper {
        display: flex;
        flex-direction: column;

        span {
            color: #FFF;
            font-family: Gilroy;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
        }

        p {
            color: #DCDCDC;
            font-family: Gilroy;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
        }
    }
}
//     .right_up {
//         position: absolute;
//         right: 5vh;
//         top: 3vh;
//         .logo_and_info {
//             display: block;
//             text-align: center;
//             display: flex;
//             align-items: center;
//             .info_server {
//                 display: flex;
//                 align-items: center;
//                 .info_items {
//                     display: flex;
//                     align-items: center;
//                     margin-left: 3vh;
//                     p {
//                         margin-left: 0.5vh;
//                         font-family: Gilroy;
//                         font-style: normal;
//                         font-weight: 600;
//                         font-size: 1.6vh;

//                         color: #ffffff;

//                         text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
//                     }
//                     .time_wrapper {
//                         display: block;
//                         text-align: left;
//                         p {
//                             font-family: Gilroy;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 1.6vh;

//                             color: #ffffff;

//                             text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
//                         }
//                         span {
//                             // text-align: center;
//                             margin-left: 0.5vh;
//                             font-family: Gilroy;
//                             font-style: normal;
//                             font-weight: 500;
//                             font-size: 12px;
//                             line-height: 14px;

//                             color: rgba(255, 255, 255, 0.5);
//                         }
//                     }
//                 }
//                 .info_items:first-child {
//                     margin-left: 0;
//                 }
//             }
//             .logo {
//                 // position: relative;
//                 // left: 4vh;
//                 // text-align: center;
//                 margin-left: 3.4vh;
//                 width: 8vh;
//                 height: 8vh;
//             }
//         }
//         .money_wrapper {
//             position: absolute;
//             top: 13vh;
//             display: block;
//             right: 0vh;
//             text-align: right;
//             h1 {
//                 // width: 10vh;
//                 font-family: Gilroy;
//                 font-style: normal;
//                 font-weight: bold;
//                 font-size: 3.6vh;

//                 color: #ffffff;

//                 text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
//             }
//             .money-bank {
//                 display: flex;
//                 align-items: center;
//                 text-align: right;
//                 width: 20vh;
//                 justify-content: flex-end;
//                 p {
//                     // width: 10vh;
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: bold;
//                     font-size: 1.8vh;
    
//                     color: #ffffff;
//                     opacity: 0.7;
                    
//                     text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
//                 }
//                 img {
//                     // position: relative;
//                     opacity: 0.7;
//                     margin-right: 0.5vh;
//                 }
//             }
//         }
//     }
//     .hints {
//         @extend %vcenter;
//         left: 2vh;
//         display: block;
//         .hint_wrapper {
//             display: flex;
//             align-items: center;
//             .hint {
//                 position: relative;
//                 margin-top: 1vh;
//                 width: 3.5vh;
//                 height: 3.5vh;
//                 // transform: skewX(-15deg);

//                 border: 2px solid rgba(255, 255, 255, 0.2);
//                 border-radius: 50%;
//                 p {
//                     @extend %center;
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: bold;
//                     font-size: 1.8vh;

//                     color: #ffffff;
//                 }
//             }
//             h1 {
//                 margin-left: 2vh;
//                 font-family: Gilroy;
//                 font-style: normal;
//                 font-weight: 600;
//                 font-size: 1.4vh;

//                 color: rgba(255, 255, 255, 0.5);
//             }
//         }
//     }
//     .notify {
//         position: absolute;
//         bottom: 5vh;
//         width: 100%;
//         .notify_wrapper {
//             margin: 2vh auto;
//             display: flex;
//             align-items: center;
//             width: 33.1vh;
//             height: 8.1vh;

//             // background: linear-gradient(89.96deg, #ff4747 0.04%, rgba(255, 71, 71, 0) 99.5%);
//             border-radius: 1vh;
//             img {
//                 width: 5.8vh;
//                 margin-left: 1.9vh;
//             }
//             .texts {
//                 margin-left: 2vh;
//                 h1 {
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: bold;
//                     font-size: 1.8vh;

//                     color: #ffffff;
//                 }
//                 p {
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 1.4vh;

//                     color: #ffffff;
//                 }
//             }
//         }
//         .slide-fade-enter-active {
//             transition: all 0.3s ease;
//         }
//         .slide-fade-leave-active {
//             transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
//         }
//         .slide-fade-enter, .slide-fade-leave-to
//           /* .slide-fade-leave-active до версии 2.1.8 */ {
//             transform: translateX(10px);
//             opacity: 0;
//         }
//     }
//     .location {
//         position: absolute;
//         .location_wrapper {
//             display: flex;
//             .location_text_wrapper {
//                 margin-left: 1vh;
//                 h1 {
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: bold;
//                     font-size: 1.8vh;

//                     color: #ffffff;
//                 }
//                 p {
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: 500;
//                     font-size: 1.4vh;

//                     color: rgba(255, 255, 255, 0.5);
//                 }
//             }
//         }
//     }
//     .player_indicators {
//         margin-top: 2vh;
//         img {
//             margin-left: 1vh;
//         }
//         img:first-child {
//             margin-left: 0;
//         }
//     }
//     .use-button {
//         position: absolute;
//         bottom: 17.5vh;
//         width: 100%;
//         .use-button-wrapper {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             .use-button-btn {
//                 position: relative;
//                 margin-top: 1vh;
//                 width: 4vh;
//                 height: 4vh;
//                 // transform: skewX(-15deg);

//                 border: 2px solid rgba(255, 255, 255, 0.2);
//                 border-radius: 50%;
//                 p {
//                     @extend %center;
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: bold;
//                     font-size: 2vh;

//                     color: #ffffff;
//                 }
//             }
//             span {
//                 margin-left: 1vh;
//                 font-family: Gilroy;
//                 font-style: normal;
//                 font-weight: 600;
//                 font-size: 1.4vh;
//                 color: rgba(255, 255, 255, 0.8);

//                 text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
//             }
//         }
//     }
// }

// #speedometer {
//     .bg {
//         position: absolute;
//         bottom: 0vh;
//         right: 0vh;
//         width: 33.7vh;
//         height: 33.7vh;
//     }
//     .main {
//         position: absolute;
//         bottom: 7vh;
//         right: 6vh;
//         .speed_wrapper {
//             display: flex;
//             justify-content: center;
//             align-items: baseline;
//             h1 {
//                 font-family: Gilroy;
//                 font-style: normal;
//                 font-weight: bold;
//                 font-size: 8vh;

//                 color: rgba(255, 255, 255, 1);
//             }
//             P {
//                 font-family: Gilroy;
//                 font-style: normal;
//                 font-weight: bold;
//                 font-size: 1.8vh;
//                 color: #ffffff;
//             }
//         }
//         .down_wrapper {
//             display: flex;
//             align-items: center;
//             .parametr {
//                 display: flex;
//                 align-items: center;
//                 margin-left: 2vh;
//                 .icon_speed {
//                     margin-left: 0.5vh;
//                 }
//                 p {
//                     margin-left: 1vh;
//                     font-family: Gilroy;
//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 1.6vh;
//                     color: #ffffff;
//                 }
//             }
//             .parametr:first-child {
//                 margin-left: 0;
//             }
//         }
//     }
//     .slide-fade-enter-active {
//         transition: all 0.3s ease;
//     }
//     .slide-fade-leave-active {
//         transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
//     }
//     .slide-fade-enter, .slide-fade-leave-to
//       /* .slide-fade-leave-active до версии 2.1.8 */ {
//         transform: translateX(-60px);
//         opacity: 0;
//     }
// }
